/*
* @Author: Marte
* @Date:   2017-05-17 20:53:48
* @Last Modified by:   Marte
* @Last Modified time: 2017-05-19 18:04:09
*/
.wrapper{
    height:100px;
    width:100px;
    border:1px dashed #433;
    background-color: #420;
}